<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">What is this?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This service allows users to search content across the Internet at various streaming services or to
                    check if the content is available on Netflix for a particular country.</p>
                <p>You can also check <a href="{{ url_for('whats_new') }}">What's new on Netflix</a> in your country.
                </p>
                <p>Although I am not giving you this idea, I heard that some people use VPN to spoof that country's IP
                    and stream directly on Netflix.</p>
                <p>I don't know how they do that; I am a respected merchant and an excellent citizen of the Imperial
                    City, the beloved capital of lovely Cyrodiil.</p>
                <p>Please send me an <a href="mailto:email@fliks.xyz">email</a> for any feedback.</p>
                <p>The <a href="https://github.com/gokhj/Fliks.XYZ" target="_blank" rel=”noreferrer noopener”>Github
                        repository</a> is public and open source if anyone's interested.</p>
                <p>God save our gracious Uriel Septim VII.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>