<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ url_for('static', filename='cloud-icon.png') }}"><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src ="{{ url_for('static', filename="js/scripts.js") }}"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
		<title>Fliks.xyz</title>
	</head>
	<body style="background-color: #282a36;">
		<nav class="navbar navbar-expand-lg navbar-dark">
  			<a class="navbar-brand" href="{{ url_for('index') }}">
				<img src="{{ url_for('static', filename='cloud-icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Fliks.xyz Logo">
  					Fliks.xyz</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link" href="{{ url_for('index') }}">Search</a>
			      <a class="nav-item nav-link" href="{{ url_for('whats_new') }}">What's New</a>
			      <a class="nav-item nav-link about_modal" data-toggle="modal" data-target="#infoModal">About</a>
			      <a class="nav-item nav-link" href="https://github.com/gokhj/Fliks.XYZ" target="_blank">Github</a>
			    </div>
			  </div>
		</nav>
		<div class="container">
		{% include 'components/search.html' %}
		{% block content %}

		{% endblock %}
		</div>
		{% include 'modals/about.html' %}
		<script src="{{ url_for('static', filename='js/service-worker.js') }}"></script>
	</body>
</html>