{% extends "layout.html" %}

{% block content %}

<h1 class="search-h1">What's new on Netflix?</h1>

<div id="loading">

</div>

{% if country %}

<h1 class="search-h1" id="country-results">Here are the results for {{ country }}</h1>

{% else %}

<h3 class="search-h1" id="country-results">
  I couldn't detect your country or it's not available on the system. <br>
  So here are the default results which is for United Kingdom.
</h3>

{% endif %}

<div class="search-h1">
  <h5>
    {% if country %}
    Not your country?
    {% else %}
    Check countries
    {% endif %}
  </h5>
  <select class="form-control country-select">
    {% for countries in supported_countries %}

    {% if countries == country %}

    <option onclick="change_country('{{ countries }}', '{{ supported_countries[countries] }}')" selected>
      {{ supported_countries[countries] }}</option>

    {% else %}

    {% if countries == 'gb' %}

    <option onclick="change_country('{{ countries }}', '{{ supported_countries[countries] }}')" selected>
      {{ supported_countries[countries] }}</option>

    {% else %}

    <option onclick="change_country('{{ countries }}', '{{ supported_countries[countries] }}')">
      {{ supported_countries[countries] }}</option>

    {% endif %}
    {% endif %}
    {% endfor %}
  </select>
</div>

<br>

<div id="ajax-results">

</div>


<div id="original-results">

  {% for item in result %}

  <div class="card mb-3 fliks-results" style="margin-bottom: 0.3rem !important;">
    <div class="row no-gutters">
      <div class="col-md-4">

        {% if item['large_image'] %}

        <img src="{{ item['large_image'] }}" class="card-img" alt="{{ item['title'] }}">

        {% else %}

        <img src="{{ item['image'] }}" class="card-img" alt="{{ item['title'] }}">

        {% endif %}


      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item['title'] }} ({{ item['release_date'] }})</h5>
          <h6 class="card-subtitle mb-2 text-muted" style="margin-bottom: 0">

            {% if item['rating'] %}
            Rating: {{ item['rating'] }}
            {% endif %}
            {% if item['time'] %}
            Time: {{ item['time'] }}
            {% endif %}

          </h6>
          <p class="card-text" style="margin-bottom:0">{{ item['synopsis'] }}</p>

          <a href="{{ item['link'] }}" target="_blank" class="btn btn-link">Watch</a>

          <button class="btn btn-link" onclick="submit({{ item['netflixid'] }})">Country details</button>

          {% if item['download'] == "1" %}

          <p class="card-text"><small class="text-muted">This content is downloadable</small></p>

          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<script>
  $(document).ready(function () {
    $('.search-div').hide();
  })
</script>

{% include 'modals/country.html' %}

<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
</div>

{% endblock %}